<form
  class="p-5 row g-3 d-flex flex-column justify-content-center align-items-center"
  [formGroup]="loginForm"
  (ngSubmit) = "onSubmit()"
>
  <div class="col-12 col-sm-3">
    <h1>Login</h1>
  </div>
  <div class="col-12 col-sm-3">
    <label for="inpEmail" class="form-label">Email</label>
    <input
      type="email"
      class="form-control"
      id="inpEmail"
      formControlName="email"
      required
    />
    <label *ngIf="this.loginForm.get('email')?.errors?.['required'] && this.loginForm.touched" class="form-label text-danger">* Ingrese email</label>
    <label *ngIf="this.loginForm.get('email')?.errors?.['pattern'] && this.loginForm.touched" class="form-label text-danger">* Ingrese email válido</label>
  
</div>
  <div class="col-12 col-sm-3">
    <label for="inptPass" class="form-label">Password</label>
    <input
      type="password"
      class="form-control"
      id="inptPass"
      formControlName="pass"
      required

    />
    <label *ngIf="this.loginForm.get('pass')?.errors?.['required'] && this.loginForm.touched" class="form-label text-danger">* Ingrese pass</label>
    <label *ngIf="this.loginForm.get('pass')?.errors?.['minlength'] && this.loginForm.touched" class="form-label text-danger">* Minimo 8 caracteres</label>

  </div>
  <div class="col-12 col-sm-3">
    <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">
      Sign in
    </button>
  </div>
</form>
