<div class="btn-group d-flex" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-blanca" (click)="filtrar('blanca')">blanca</button>
  <button type="button" class="btn btn-azul" (click)="filtrar('azul')">azul</button>
  <button type="button" class="btn btn-roxa" (click)="filtrar('roxa')">roxa</button>
  <button type="button" class="btn btn-marron" (click)="filtrar('marron')">marron</button>
  <button type="button" class="btn btn-preta" (click)="filtrar('preta')">preta</button>
  <button type="button" class="btn btn-success" (click)="filtrar('')">todes</button>    
</div>

<div *ngIf="usuarioSs.usuario().admin" class="p-3 d-flex justify-content-end">
  <button class="btn btn-primary" [routerLink]="['/alumno']" routerLinkActive="router-link-active" >Nuevo</button>
</div>
   
<app-grilla
  [datos]="alumnos"
  [columnas]= 'columnas'
  [titulo]="'Alumnos'"
  [verModificar]="usuarioSs.usuario().admin"
  [verEliminar]="usuarioSs.usuario().admin"
  [verDetalle]="true"
  (clickEvent)="clickListener($event)"
></app-grilla>
